.job {
  margin: 10px;
  border-radius: 10px;
  border: solid 1px #666;
  min-height: 150px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
  gap: 5px;
}

.job__info-wrapper {
  width: 100%;
}

.job-company__title {
  font-size: 30px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.job-company__title::-webkit-scrollbar {
  display: none;
}

.job__line {
  margin: 24px 0px;
}

.job-position-alt {
  background-color: #000;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 0;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.job-position-alt::-webkit-scrollbar {
  display: none;
}

.job__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.job__buttons {
  border: none;
  background-color: #3a86ff;
  color: #fff;
  width: 100px;
  padding: 5px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.job__buttons:hover {
  background-color: #000080;
}

#interview-btn {
  background-color: green;
}

#interview-btn:hover {
  background-color: rgb(0, 57, 0);
}

#denied-btn {
  background-color: brown;
}

#denied-btn:hover {
  background-color: rgb(92, 24, 24);
}
