.job {
  margin: 10px;
  border-radius: 10px;
  border: solid 1px #666;
  min-height: 150px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.job__info-wrapper {
  min-width: 200px;
}

.job-company__title {
  cursor: pointer;
}

.job__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job__buttons {
  border: none;
  background-color: #3a86ff;
  color: #fff;
  width: 100px;
  height: 25px;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.job__buttons:hover {
  background-color: #000080;
}

#interview-btn {
  background-color: green;
}

#interview-btn:hover {
  background-color: rgb(0, 57, 0);
}

#denied-btn {
  background-color: brown;
}

#denied-btn:hover {
  background-color: rgb(92, 24, 24);
}
