.delete__confirmation-modal {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 670px;
  height: 280px;
  margin: auto;
  border-radius: 20px;
  position: relative;

  font-family: 'Familjen Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
  border: 4px solid #59a8a2;
}

.delete__confirmation-button_exit {
  background-image: url(../../assets/cross-square-svgrepo-com.svg);
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 28px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: solid 4px #59a8a2;
}

.delete__confirmation-button_exit:hover {
  cursor: pointer;
}

.delete__confirmation-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.delete__confirmation-notification {
  text-align: center;
  margin: 0;
}

.delete__confirmation-button_yes {
  border: none;
  margin: 40px 0 24px 0;
  font-family: 'Familjen Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  text-shadow:
    1px 1px 2px #ff0000,
    0 0 1em #fff,
    0 0 0.2em #ff0000;
  background-color: #000;
}

.delete__confirmation-button_yes:hover {
  cursor: pointer;
}

.delete__confirmation-button_cancel {
  border: none;
  font-family: 'Familjen Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
}

.delete__confirmation-button_cancel:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .delete__confirmation-wrapper {
    margin: 70px 10px;
  }
}
