.profile {
  background-color: bisque;
  height: 400px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.profile-new_application-button {
  width: 150px;
  height: 35px;
  font-size: 16px;
  border: none;
  background-color: #3a86ff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px auto;
  transition: 0.3s ease-in-out;
}

.profile-new_application-button:hover {
  background-color: #000080;
}
