.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  flex-wrap: wrap;
}

.navbar__logo {
  width: 500px;
  background-color: #000;
  color: #fff;
}

.navbar__links-wrapper {
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.navbar__link {
  color: #fff;
  cursor: pointer;
}

.navbar__profile {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.navbar__profile-picreplace {
  color: #000;
}

.avatar__name {
  color: #fff;
  font-size: 40px;
  text-shadow:
    1px 1px 2px red,
    0 0 1em blue,
    0 0 0.2em blue;
}

/* -------------------------------------------------------------------------- */
/*                         Sign in and Log In Section                         */
/* -------------------------------------------------------------------------- */

.nav-wrapper {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.nav {
  font-family: 'Familjen Grotesk', sans-serif;
  font-style: normal;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
  padding: 8px 15px;
  border-radius: 10px;
}

.avatar__nav {
  color: #fff;
  font-size: 25px;
}

.avatar__picture {
  border-radius: 20px;
  width: 150px;
  display: flex;
  justify-content: center;

  background-color: #fff;
}

#avatar__picture-replacement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.avatar__sign-up {
  border: solid 3px #59a8a2;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #fff;
}

.avatar__log-in {
  border: solid 3px #59a8a2;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #fff;
}

@media screen and (max-width: 1100px) {
  .navbar {
    align-items: center;

    flex-direction: column;
  }

  .navbar__links-wrapper {
    margin: 0;
  }

  .avatar__picture {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .navbar__logo {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding-bottom: 20px;
  }
  .navbar__links-wrapper {
    flex-direction: column-reverse;
  }
  .avatar__nav {
    margin: 0;
  }

  .avatar__name {
    margin: 0;
  }

  .nav-wrapper {
    width: auto;
  }
}
